<link rel="stylesheet" href={{ url_for('static', filename='css/stream/pregame/rosters.css')}}>

<div class="rosters">
    <div class="roster" id="lag1Roster">
        <div class="rosterElement" style="display: none;">
            <img src="{{ url_for('static', filename='laglogoer/'+kamp.lag1.bilde+'')}}" alt="logo" width="150px" height="150px">    
        </div>
        <div class="rosterElement" style="display: none;">
            <h1>{{kamp.lag1.navn.upper()}}</h1>
        </div>
    
        {% for spiller in kamp.lag1.spillere %}
            <div class="spiller" style="display: none;">
                <!-- <h2>{{spiller.rolle}}</h2> -->
                <h2>{{spiller.navn.upper()}}</h2>
            </div>
        {% endfor %}
    </div>
    
    
    <div class="roster" id="lag2Roster">
        <div class="rosterElement" style="display: none;">
            <img src="{{ url_for('static', filename='laglogoer/'+kamp.lag2.bilde+'')}}" alt="logo" width="150px" height="150px">    
        </div>
        <div class="rosterElement" style="display: none;">
            <h1>{{kamp.lag2.navn.upper()}}</h1>
        </div>
    
        {% for spiller in kamp.lag2.spillere %}
            <div class="spiller" id="lag2DIV" style="display: none;">
                <!-- <h2>{{spiller.rolle}}</h2> -->
                <h2>{{spiller.navn.upper()}}</h2>
            </div>
        {% endfor %}
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.2/socket.io.js" crossorigin="anonymous"></script>
<script>var socket = io();</script>

<script>
    let rosterLink = "{{url_for('livecontrolSpesificScene', sceneName='teamRoster')}}";
    const sceneName = "teamRoster";
    let True = true;
    let False = false;
    let show = false;
    socket.on('livecontrolupdate', function(data){
        console.log("message");
        console.log(data);
        checkHideShow(data.pregame[sceneName]);
    });
    function getLivecontrolJsonData(){
        let xml = new XMLHttpRequest();
        xml.open("GET", rosterLink, false);  
        xml.onreadystatechange = function(){
            if(xml.readyState == 4 && xml.status == 200){
                let tempDIct = JSON.parse(xml.responseText);
                checkHideShow(tempDIct);    
            }
        }
        xml.send();
    }
    getLivecontrolJsonData();
    function checkHideShow(tempDIct){
        if(tempDIct["show"]!=show){
            if(tempDIct["show"] == true){
                contentShow();
                show = true;
            }else{
                contentHide();
                show=false;
            }
        }
    }
    // setInterval(function(){
    //     let xml = new XMLHttpRequest();
    //     xml.open("GET", rosterLink, false);
        
    //     xml.onreadystatechange = function(){
    //         if(xml.readyState == 4 && xml.status == 200){
    //             //console.log("SUCCESS?")
    //             //console.log(xml.responseText);
    //             let tempDIct = JSON.parse(xml.responseText);
    //             console.log(tempDIct);
    //             checkHideShow(tempDIct);
                
    //         }
    //     }
    //     xml.send();
        
    // }, 1000);
    

    //document.getElementById("lag1Roster").onload = startAnimasjoner();
    function contentShow(){
        console.log("DEMO");
        let lagEls = document.getElementsByClassName("spiller");
        document.getElementsByClassName("rosterElement")[0].style.display = "flex";
        document.getElementsByClassName("rosterElement")[1].style.display = "flex";
        document.getElementsByClassName("rosterElement")[0].style.animationName = "vis";
        document.getElementsByClassName("rosterElement")[1].style.animationName = "visMotsatt";
        let rosterElementsArray = document.getElementsByClassName("rosterElement");
        for(let i =0; i<rosterElementsArray.length; i++){
            rosterElementsArray[i].style.display = "flex";
            rosterElementsArray[i].style.animationName = "vis";
            if(rosterElementsArray[i] >= rosterElementsArray.length/2){
                rosterElementsArray[i].style.animationName = "visMotsatt";
            }
        }
        // document.getElementsByClassName("roster")[0].style.display = "flex";
        // document.getElementsByClassName("roster")[1].style.display = "flex";
        document.getElementsByClassName("roster")[0].style.animationName = "blueTeamAnimation1";
        document.getElementsByClassName("roster")[1].style.animationName = "redTeamAnimation1";
        for(let i=0; i<lagEls.length/2; i++){
            setTimeout(function(){
                console.log(lagEls.length);
                console.log(i+lagEls.length/2);
                console.log(lagEls[i+lagEls.length/2]);
                lagEls[i].style.animationName = "vis";
                lagEls[i+lagEls.length/2].style.animationName = "visMotsatt";
                

                lagEls[i].style.display = "block";
                lagEls[i+lagEls.length/2].style.display = "block";
            }, i*100);
        }
    }
    function contentHide(){
        let lagEls = document.getElementsByClassName("spiller");
        document.getElementsByClassName("roster")[0].style.animationName = "blueTeamAnimationOutro1";
        document.getElementsByClassName("roster")[1].style.animationName = "redTeamAnimationOutro1";
        for(let i=0; i<lagEls.length/2; i++){
            setTimeout(function(){
                lagEls[i].style.animationName = "outro";
                lagEls[i+lagEls.length/2].style.animationName = "outro";
            }, i*100);
            setTimeout(function(){
            }, i*100);
        }
    }
</script>