{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href={{ url_for('static', filename='css/homePage.css')}}>
  <div class="content">
    <div class="content-top">
      <h1>Home page</h1>
      <h3>This page contains an overview to the championselect-program</h3>
      <!-- <a href="{{ url_for('home') }}">Home</a> -->
      <h2>Links:</h2>
    </div>
    <div class="content-container">
      {% if linker %}
      <div class="forStreamContainer" >
        {% for link in linker.stream %}
        <div class="linkGroupContainerDiv" onclick="gotToLink('{{ url_for(link.url) }}')">
          <a href="{{ url_for(link.url) }}" ><h3>{{link.navn}}</h3></a>
            <!-- <h2>{{link.navn}}</h2> -->
            <button onclick="copyMe('{{link.url}}')" value="{{ url_for(link.url) }}" id="link.url">Click to Copy link!</button>
        </div>         
        {% endfor %}
      </div>
      <h2>Caster linker:</h2>
      <div class="caster-content">
        {% for link in linker.caster %}
        <div class="linkGroupContainerDiv" onclick="gotToLink('{{ url_for(link.url) }}')">
          <a href="{{ url_for(link.url) }}" ><h3>{{link.navn}}</h3></a>
            <!-- <h2>{{link.navn}}</h2> -->
            <button onclick="copyMe('{{link.url}}')" value="{{ url_for(link.url) }}" id="link.url">Click to Copy link!</button>
        </div>         
        {% endfor %}
      </div>  
      <div>
        <h2>General</h2>
        <div class="general-links">
          {% for link in linker.general %}
          <div class="linkGroupContainerDiv" onclick="gotToLink('{{ url_for(link.url) }}')">
            <a href="{{ url_for(link.url) }}" ><h3>{{link.navn}}</h3></a>
              <!-- <h2>{{link.navn}}</h2> -->
              <button onclick="copyMe('{{link.url}}')" value="{{ url_for(link.url) }}" id="link.url">Click to Copy link!</button>
          </div>         
          {% endfor %}
        </div>
        <h2>Production</h2>
        <div class="producer-content">
          {% for link in linker.producer %}
          <div class="linkGroupContainerDiv" onclick="gotToLink('{{ url_for(link.url) }}')">
            <a href="{{ url_for(link.url) }}" ><h3>{{link.navn}}</h3></a>
              <!-- <h2>{{link.navn}}</h2> -->
              <button onclick="copyMe('{{link.url}}')" value="{{ url_for(link.url) }}" id="link.url">Click to Copy link!</button>
          </div>         
          {% endfor %}
        </div>
      </div>
      {% else %}
      <div class="forStreamContainer">
        
        <a href="{{ url_for('champselect') }}" >
          <div class="linkGroupContainerDiv">

          
            <h2>Championselect - Standard</h2>
            <a href="{{ url_for('champselect') }}">Championselect</a>
            <button onclick="copyMe('champselect')" value="{{ url_for('champselect') }}" id="champselect">Click to Copy link!</button>
            </div>
        </a>
        <div class="linkGroupContainerDiv">
          <h2>Lobby</h2>
          <a href="{{ url_for('lobby') }}">Lobby</a>
          <button onclick="copyMe('lobby')" value="{{ url_for('lobby') }}" id="lobby">Click to Copy link!</button>
        </div>
				<div class="linkGroupContainerDiv">
          <h2>Standings</h2>
          <a href="{{ url_for('streamTabell') }}">StreamTabell</a>
					<a href="{{ url_for('statisticsStandings') }}">Standings</a>
					<button onclick="copyMe('standings')" value="{{ url_for('statisticsStandings') }}" id="standings">Click to Copy link!</button>
        </div>
        <div class="linkGroupContainerDiv">
          <h2>Kampoversikt</h2>
          <a href="{{ url_for('kampoversikt') }}">Stream link: Kampoversikt</a>
          <button onclick="copyMe('kampoversikt')" value="{{ url_for('kampoversikt') }}" id="kampoversikt">Click to Copy link!</button>
        </div>
        <a href="{{ url_for('ingameOverlay') }}">IngameOverlay</a>
        <a href="{{ url_for('streamRoster') }}">Roster</a>
        <a href="{{ url_for('casterDashboard') }}">Dashboard</a>
        <a href="{{ url_for('streamRoster') }}">Roster</a>
        <a href="{{ url_for('championselectOverlay') }}">ChampionselectOverlay</a>
        <a href="{{ url_for('streamTabell') }}">StreamTabell</a>
      </div>

      <div class="caster-content">
        <a href="{{ url_for('casterDashboard')}}">Dashboard for casters</a>
      </div>
      <div class="producer-content">
        <br>
        
        
      </div>
    </div>
    {% endif %}
  </div>
  <script>
    function gotToLink(url){
      window.location.href = url;
    }
  </script>
{% endblock content %}