{% extends "base.html" %}
{% block content %}

    <div class="kampOversikt">
        <a href="{{ url_for('kampoversikt') }}">Stream link: Kampoversikt</a>
        <button onclick="copyMe('kampoversikt')" value="{{ url_for('kampoversikt') }}" id="kampoversikt">Click to Copy link!</button>
        <!-- <h1>Kamper</h1> -->
        <div class="kampSkaper">
            <div>
                <input type="time" id="klID" value="19:00">
                <input type="date" id="datoID">
            </div>
            <div>
                <select id="lag1">
                    
                </select>
                <select id="lag2">
    
                </select>
            </div>
            <div>
                <input type="text" id="divisjon" value="1. Divisjon">
                <select id="antallKamper" >
                    <option value=1>Bo1</option>
                    <option value=2 selected>Bo2</option>
                    <option value=3>Bo3</option>
                    <option value=5>Bo5</option>
                </select>
                <input type="text" id="liga" value="Telia Esport Series">
                <input type="text" id="spill" value="League of Legends">
            </div>
            <button onclick="lagJSKamp()">LAG KAMP</button>
        </div>
        {% include "stream/kampoversikt.html" %}
    </div>
    
    <script>
        let alleLag = {{ lagoversikt|safe }};
        console.log(alleLag);
        function updateSelects(){
            slct1El = document.getElementById("lag1");
            slct2El = document.getElementById("lag2");
            for(let i =0; i<alleLag.length; i++){
                let optionEl = document.createElement("option");
                optionEl.text = alleLag[i].navn;
                optionEl.value = alleLag[i].id;
                //slct1El.add(optionEl);
                slct2El.add(optionEl);
            }
            for(let i =0; i<alleLag.length; i++){
                let optionEl = document.createElement("option");
                optionEl.text = alleLag[i].navn;
                optionEl.value = alleLag[i].id;
                slct1El.add(optionEl);
                //slct2El.add(optionEl);
            }
            let dagenIdag = new Date();
            let idag = dagenIdag.toISOString().substr(0,10);
            
            document.getElementById("datoID").value = idag
        }
        updateSelects();
        function lagKamp(kamp){

        }
        function lagJSKamp(){
            let tmpObj = {};//Temp Javascript Object
            tmpObj["tid"] = document.getElementById("klID").value;
            tmpObj["dato"] = document.getElementById("datoID").value;
            tmpObj["kampID"] = "";
            tmpObj["lag1ID"] = document.getElementById("lag1").value;
            tmpObj["lag2ID"] = document.getElementById("lag2").value;
            tmpObj["antallKamper"] = parseInt(document.getElementById("antallKamper").value);

            tmpObj["divisjon"] = document.getElementById("divisjon").value;
            tmpObj["liga"] = document.getElementById("liga").value;
            tmpObj["spill"] = document.getElementById("spill").value;
            console.log(tmpObj);
            let xml = new XMLHttpRequest();
            xml.open("POST", "/kampeditor/create", true);
            xml.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            xml.onreadystatechange = function(){
                if(xml.readyState == 4 && xml.status == 200){
                    console.log(xml.responseText);
                }
            }
            let stringified = JSON.stringify(tmpObj);
            xml.send(stringified);
            //lagKamp(tmpObj);
            window.location.reload(false);
            
        }

        
    </script>


    <link rel="stylesheet" href={{ url_for('static', filename='css/kampeditor.css')}}>
{% endblock content %}
