.playerCamSelect{
    display: flex;
}

.playerCamSelectDiv{
    padding: 10px;
    border:1px solid white;
}
.playerCamSelectDiv:hover{
    cursor: pointer;
    border: 1px solid rgb(83, 158, 255);
    background-color: rgb(17, 82, 138);
}