body{
  font-family: 'Roboto thin';
  text-align: center;
  background-color: #1a283e;
}
h1{
  color:white;
}
h2{
  color: #ebebeb;
}
h3{
  color: grey;
}
.header{

}

.content{

}
.content-container{
  max-width: 1600px;
    width: 90%;
    margin: auto;
}

.forStreamContainer{
  display: flex;
  flex-wrap: wrap;
}


.content-top{
  
}
.caster-content{
  display: flex;
  flex-wrap: wrap;
}
.producer-content{
  display: flex;
  flex-wrap: wrap;
}
.general-links{
  display: flex;
  flex-wrap: wrap;
}


.linkGroupContainerDiv{
  padding: 5px;
  border: 1px dotted #d5d5d5;
  /* width: 80%; */
  margin: auto;
  margin-bottom: 10px;
  background-color: #101826;
  margin: 10px;
  flex-wrap: wrap;
}
.linkGroupContainerDiv:hover{
  background-color: #114359;
    cursor: pointer;
    border: 1px solid #1bcfff;
}
.linkGroupContainerDiv a{
  margin: 10px;
  text-decoration: none;
}

.linkGroupContainerDiv a:hover{
  color: aliceblue;
}