body{
    background-color: black;
    margin: 0px;
    overflow: hidden;
}

#backgroundImage{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    z-index: 1;
}
.textOverlay{
    z-index: 1;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
}
.tag{
    position: absolute;
    z-index: 2;
    top: -16px;
    top: -8px;
    font-size: 1.6em;
}
#tagBlue{
    left: 522px;
}
#tagRed{
    right:507px;
}

.scoreContainer{
    top: 44px;
    z-index: 2;
    position: absolute;
    left: 539px;
    direction: rtl;
    /* background-color: red; */
    width: 58px;
    display: flex;
    height: 5px;
}
#scoreContainerRed{
    left: 1335px;
    direction: ltr;
}
.score-orb-image{
    width: 6px;
    margin: 5px;
    height: 6px;
}



.infoBox{
    z-index: 3;
    border: 2px solid white;
    width: 283px;
    height: 214px;
    position: absolute;
    bottom: 0px;
    top: 862px;
    left: 316px;  
    width: 293px;
}
#info1{

}
#info2{
    left: 1332px;
}

.playerCamContainer{
    display: none;
}
.camBox{
    /* width: 350px;
    height: 400px; */
}
.camBox img{
    /* width: 350px;
    height: 350px; */
    width: 100%;
}
.camBox h2{
    background-color: #0b0b0b;
    width: 100%;
    position: absolute;
    bottom: -22px;
    text-align: center;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    border-top: 1px solid white;
}

