.EDITClass{
    display: block;
    position: relative;
    background-color: rebeccapurple;
    /* padding: 10px; */
    margin: 10px;
    padding: 3px;
    display: flex;
}
.EDITClass div{
    display: block;
}
.EDITClass a{
    color: aliceblue;
}
.kampSkaper{
    background-color: #00000045;
    width: 600px;
    border-radius: 15px;
    padding: 11px;
    border: 1px solid white;
    margin: auto;
}
.kamper{
    /* margin-top: 100px; */
}