.lagreDiv{
    margin: auto;
    margin-top: 10px;
    width: 50%;
    background-color: #00597a;
    border: 1px solid #00ff26;
    cursor: pointer;
}
.lagreDiv:hover{
    background-color: #002a2a;
    border: 1px solid darkgreen;
}
.lag{
    text-align: center;
    margin-top: 20px;
    margin: auto;
    color: #2cbf38;
    /* display: flex;
    flex-wrap: wrap; */
}
.lag div{
    margin: 20px;
    /* display: flex; */
}
.intypingField{
    border-bottom: 1px solid #a6e7ff;
    width: 400px;
    margin:20px;
    margin: auto;
    height: 40px;
    contain: content;
}
#spillereContainer{
    width: 100%;
    display: block;

}
.spiller{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}


.playerSelectContainer{
    
}
.playerSelectDiv{
    position: absolute;
    display: block;
    height: 160px;
    contain: strict;
    min-width: 300px;
    overflow-x: auto;
    width: 400px;
    background-color: #1b1b1b;
    border: 1px solid #f840ff;
    left: 449px;
    z-index: 3;
}
.playerDiv{
    border-bottom: 1px solid white;
    font-size: 1.7em;
}
.playerDiv:hover{
    cursor: pointer;
    background-color: #00ff26;
    color: white;
}