body{
  color:white;
  background-color: black;
  font-family: 'Roboto thin', sans-serif;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.main-app{

}
.teams{
  display: flex;
}
.team{
  padding: 20px;
  flex-direction: column;
  border: 1px solid white;
  margin: auto;
  inline-size: -webkit-fill-available;
  text-align: center;
  border-radius: 25px;
  margin: 10px;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


#blueTeam{
  /* border-right: 5px solid rgb(51, 58, 153);
  border-left: 2px solid rgb(51, 58, 153); */
}
#redTeam{
  /* border-left: 5px solid rgb(153, 51, 51);
  border-right: 2px solid rgb(153, 51, 51); */
}
.player{
      border-bottom: 1px solid #747474;
      opacity: 0;
      animation-duration: 1s;
    animation-fill-mode: forwards;
}
.player h1{
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.specTime{
  display: flex;
  
}
.spectators{
  display: flex;
  width: 50%;
  display: none;
}
.spectator{
  margin: auto;
}
.timerBox{
  width: 50%;
    margin: auto;
    text-align: center;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
  0% {opacity: 0;}
  100%{opacity: 1;}
}
@keyframes fadeOut{
  0% {opacity: 1;}
  100%{opacity: 0;}
}