body{
  color:white;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
.main-app{

}
.teams{
  display: flex;
}
.team{
  padding: 20px;
  flex-direction: column;
  border: 2px solid white;
  margin: auto;
  inline-size: -webkit-fill-available;
  text-align: center;
}


#blueTeam{

}
#redTeam{

}
.player{
      border-bottom: 1px solid #747474;
}
.specTime{
  display: flex;
}
.spectators{
  display: flex;
  width: 50%;
}
.spectator{
  margin: auto;
}
.timerBox{
  width: 50%;
    margin: auto;
    text-align: center;
}
