<head>
    <!-- <meta http-equiv="refresh" content="2"> -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  </head>
<link rel="stylesheet" href={{ url_for('static', filename='css/stream/ingameOverlay.css')}}>

<div class="textOverlay">
    <div class="tagAndScore">
        <div class="team" id="blue">
            <h2 id="scoreBlue" class="score"></h2>
            <div class="scoreContainer" id="scoreContainerBlue">
                <img src={{ url_for('static', filename='img/Overlays/Score-orb.svg')}} alt="score-orb" id="ScoreOrb" style="display: none;" class="score-orb-image">
                <img src={{ url_for('static', filename='img/Overlays/Score-orb.svg')}} alt="score-orb" id="ScoreOrb" style="display: none;" class="score-orb-image">
                <img src={{ url_for('static', filename='img/Overlays/Score-orb.svg')}} alt="score-orb" id="ScoreOrb" style="display: none;" class="score-orb-image">
            </div>
            <h1 id="tagBlue" class="tag">{{kamp.lag1.tag}}</h1>
        </div>
        <div class="team" id="red">
            <h2 id="scoreRed" class="score"></h2>
            <div class="scoreContainer" id="scoreContainerRed">
                <img src={{ url_for('static', filename='img/Overlays/Score-orb.svg')}} alt="score-orb" id="ScoreOrb" style="display: none;" class="score-orb-image">
                <img src={{ url_for('static', filename='img/Overlays/Score-orb.svg')}} alt="score-orb" id="ScoreOrb" style="display: none;" class="score-orb-image">
                <img src={{ url_for('static', filename='img/Overlays/Score-orb.svg')}} alt="score-orb" id="ScoreOrb" style="display: none;" class="score-orb-image">
            </div>
            <h1 id="tagRed" class="tag">{{kamp.lag2.tag}}</h1>
        </div>
    </div>

</div>

<div class="tagLogoContainer">
    <div class="tagLogo" id="tagLogoLag1">
        <img src={{ url_for('static', filename= 'laglogoer/'+kamp.lag1.bilde )}} alt="Logo1">
    </div>
    <div class="tagLogo" id="tagLogoLag2">
        <img src={{ url_for('static', filename= 'laglogoer/'+kamp.lag2.bilde )}} alt="Logo2">
    </div>
</div>

<div class="playerCamContainer">
    <div class="infoBox" id="info1">
        <div class="camBox">
            <img src={{ url_for('static', filename='img/spillere/Fabian.jpg')}} alt="playerCam" id="playerImg1">
            <h2>Thinked</h2>
        </div>
    </div>
    <div class="infoBox" id="info2">
        <div class="camBox">
            <img src={{ url_for('static', filename='img/spillere/Fabian.jpg')}} alt="playerCam" id="playerImg1">
            <h2>Thinked</h2>
        </div>
    </div>
</div>

<div class="scoreBoardContent" id="scoreBoardContent">
    <div class="scoreboard-full" id="scoreboard-full">
        <div class="scoreboard-half" id="scoreboard-left">
            <div class="spillerBildeDiv">
                <img src="" alt="spiller-left-bilde" class="spillerBilde" id="spillerBildeLeft">
            </div>
            <div class="statistikkDiv">
                <div><h1 id="spillerNavnLeft">Touch</h1></div>
                <div><h2>K/G - </h2><h2 id="killsPerGameLeft">K/G</h2></div>
                <div><h2>D/G - </h2><h2 id="deathsPerGameLeft">D/G</h2></div>
                <div><h2>Vision - </h2><h2 id="visionScoreLeft">VisionScore</h2></div>
                <div><h2>KP - </h2><h2 id="killParticipationLeft">KP</h2></div>
            </div>
        </div>
        <div class="scoreboard-half" id="scoreboard-right">
            <div class="spillerBildeDiv">
                <img src="" alt="spiller-right-bilde" class="spillerBilde" id="spillerBildeRight">
            </div>
            <div class="statistikkDiv">
                <div><h1 id="spillerNavnRight">Touch</h1></div>
                <div><h2>K/G - </h2><h2 id="killsPerGameRight">K/G</h2></div>
                <div><h2>D/G - </h2><h2 id="deathsPerGameRight">D/G</h2></div>
                <div><h2>Vision - </h2><h2 id="visionScoreRight">VisionScore</h2></div>
                <div><h2>KP - </h2><h2 id="killParticipationRight">KP</h2></div>
            </div>
        </div>
    </div>
    
    <img src="{{ url_for( 'static', filename='img/production/SVG/scoreBoardHvitOverlay.svg')}}" alt="hvitOverlay" id="scoreBoardOverlayImage">
</div>
<img src="{{ url_for('static', filename='img/Overlays/ING_VRLY_MP42V2.svg')}}" alt="IngameOverlay" id="backgroundImage">

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.2/socket.io.js" crossorigin="anonymous"></script>
<script>
    let rosterLink = "{{url_for('livecontrolSpesificScene', sceneName='playerCompare')}}";
    const sceneName = "playerCompare";
    var socket = io();
    
    const True = true;
    const False = false;
    let show = false;
    socket.on('livecontrolupdate', function(data){
        console.log("message");
        console.log(data);
        checkHideShow(data.ingame[sceneName]);
    });
    function getLivecontrolJsonData(){
        let xml = new XMLHttpRequest();
        xml.open("GET", rosterLink, false);  
        xml.onreadystatechange = function(){
            if(xml.readyState == 4 && xml.status == 200){
                let tempDIct = JSON.parse(xml.responseText);
                console.log("GET LIVE JSON");
                console.log(tempDIct);
                checkHideShow(tempDIct);    
            }
        }
        xml.send();
    }
    getLivecontrolJsonData();
    function checkHideShow(tempDIct){
        console.log(tempDIct);
        if(tempDIct["show"]!=show){
            if(tempDIct["show"] == true){
                contentShow();
                show = true;
                getUpdatedPlayerFocus();
            }else{
                contentHide();
                show=false;
            }
        }
    }

    function contentShow(){
        document.getElementById("scoreBoardContent").style.display="block";
        document.getElementById("scoreBoardContent").style.opacity = 1;
        document.getElementsByClassName("scoreboard-half")[0].style.animationName = "vis";
        document.getElementsByClassName("scoreboard-half")[1].style.animationName = "vis";

    }

    function contentHide(){
        document.getElementById("scoreBoardContent").style.display="block";
        document.getElementById("scoreBoardContent").style.opacity = 0;
        document.getElementsByClassName("scoreboard-half")[0].style.animationName = "skjul";
        document.getElementsByClassName("scoreboard-half")[1].style.animationName = "skjul";
    }
    let kampInfo = {{ kamp|safe }};
    
    function updateKampScore(){
        let blueTeamScoreEl = document.getElementById("scoreContainerBlue");
        let redTeamScoreEl = document.getElementById("scoreContainerRed");
        for(let i=0; i<3; i++){
            // blueTeamScoreEl.children[i].style.display = "hidden";
            // redTeamScoreEl.children[i].style.display = "hidden";
        }
        console.log("KJØRER");
        console.log(Number(kampInfo.lag1.score));
        for(let i=0; i<Number(kampInfo.lag1.score); i++){
            blueTeamScoreEl.children[i].style.display = "block";
            console.log(blueTeamScoreEl.children[i].style.display);
        }
        for(let i=0; i<Number(kampInfo.lag2.score); i++){
            redTeamScoreEl.children[i].style.display = "block";
        }


    }
    function fixKampTags(){
        if(kampInfo.lag1.tag.length ==4){
            document.getElementById("tagBlue").style.left = "514px";
        }
        if(kampInfo.lag1.tag.length ==4){
            document.getElementById("tagBlue").style.right = "502px";
        }
    }
    updateKampScore();
    fixKampTags();
    function getPlayerJson(id,id2){
        var xhr = new XMLHttpRequest();
        console.log(window.location.href);
        let spillerLink = "{{ url_for('getSpillerJson')}}";
        console.log(spillerLink);
        xhr.open("POST", "{{ url_for('getSpillerJson')}}", true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        //xhr.open("GET", "{{ url_for('spillerJson', id=2474)}}", true);
        let stringified = JSON.stringify({"id":id});
        let stringified2 = JSON.stringify({"id":id2});
        xhr.send(stringified);
        //xhr.onreadystatechange = processRequest;
        xhr.onreadystatechange = function(){
            if(xhr.readyState == 4 && xhr.status == 200){
                //console.log(xhr.responseText);
                showPlayerInScoreboard(JSON.parse(xhr.responseText), "Left");
            }
        }
        var xhr1 = new XMLHttpRequest();
        console.log(window.location.href);
        xhr1.open("POST", "{{ url_for('getSpillerJson')}}", true);
        xhr1.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        //xhr1.open("GET", "{{ url_for('spillerJson', id=42162)}}", true);
        xhr1.send(stringified2);
        //xhr.onreadystatechange = processRequest;
        xhr1.onreadystatechange = function(){
            if(xhr1.readyState == 4 && xhr1.status == 200){
                //console.log(xhr.responseText);
                //showPlayerInScoreboardRight(JSON.parse(xhr1.responseText));
                showPlayerInScoreboard(JSON.parse(xhr1.responseText), "Right");
            }
        }
        

        // let xml = new XMLHttpRequest();
        // xml.open("GET", "{{ url_for('spillerJson', id=2474)}}", true);
        // xml.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        // xml.onreadystatechange = function(){
        //     if(xml.readyState == 4 && xml.status == 200){
        //         console.log(xml.responseText);
        //     }
        // }
        // let stringified = JSON.stringify(kampData);
        // xml.send(stringified);
        // console.log(stringified);
        // window.location.reload(false);
    }
    function showPlayerInScoreboard(playerJson, side){
        //let scoreBoardEl = document.getElementById("scoreboard-left");  
        console.log(side);
        console.log(playerJson);
        //let spillerBildeEl = document.createElement("img");
        let spillerBildeEl = document.getElementById("spillerBilde"+side);
        if((playerJson.user).hasOwnProperty("proImage") && playerJson.user.proImage!=null){
            console.log(playerJson.user);
            spillerBildeEl.src = playerJson.user.proImage.original.url;
        }else{
            spillerBildeEl.src = playerJson.user.image;
        }
        
        spillerBildeEl.width = 200;
        spillerBildeEl.height = 200;
        console.log(spillerBildeEl);
        //let navnEl = document.createElement("h1");
        let navnEl = document.getElementById("spillerNavn"+side);
        navnEl.innerHTML = playerJson.user.name;
        if(playerJson.user.name.length > 6){
            navnEl.style.fontSize = "1.4em";
        }else{
            navnEl.style.fontSize = "1.4em";
        }
        //let killsPerGameEl = document.createElement("h2");
        let killsPerGameEl = document.getElementById("killsPerGame"+side);
        killsPerGameEl.innerHTML = playerJson.killsPerMap;
        //let deathsPerGameEl = document.createElement("h2");
        let deathsPerGameEl = document.getElementById("deathsPerGame"+side);
        deathsPerGameEl.innerHTML = playerJson.deathsPerMap;

        let visionScoreEl = document.getElementById("visionScore"+side);
        visionScoreEl.innerHTML = playerJson.visionScore;

        let killParticipationEl = document.getElementById("killParticipation"+side);
        killParticipationEl.innerHTML = playerJson.killParticipation;

        // scoreBoardEl.appendChild(spillerBildeEl);
        // scoreBoardEl.appendChild(navnEl);
        // scoreBoardEl.appendChild(killsPerGameEl);
        // scoreBoardEl.appendChild(deathsPerGameEl);
    }
    function showPlayerInScoreboardRight(playerJson){
        //let scoreBoardEl = document.getElementById("scoreboard-left");  
        console.log(playerJson);
        //let spillerBildeEl = document.createElement("img");
        let spillerBildeEl = document.getElementById("spillerBilde"+side);
        spillerBildeEl.src = playerJson.user.proImage.original.url;
        spillerBildeEl.width = 200;
        spillerBildeEl.height = 200;
        console.log(spillerBildeEl);
        //let navnEl = document.createElement("h1");
        let navnEl = document.getElementById("spillerNavn"+side);
        navnEl.innerHTML = playerJson.user.name;
        //let killsPerGameEl = document.createElement("h2");
        let killsPerGameEl = document.getElementById("killsPerGame"+side);
        killsPerGameEl.innerHTML = playerJson.killsPerMap;
        //let deathsPerGameEl = document.createElement("h2");
        let deathsPerGameEl = document.getElementById("deathsPerGame"+side);
        deathsPerGameEl.innerHTML = playerJson.deathsPerMap;

        let visionScoreEl = document.getElementById("visionScore"+side);
        visionScoreEl.innerHTML = playerJson.visionScore;

        let killParticipationEl = document.getElementById("killParticipation"+side);
        killParticipationEl.innerHTML = playerJson.killParticipation;

        // scoreBoardEl.appendChild(spillerBildeEl);
        // scoreBoardEl.appendChild(navnEl);
        // scoreBoardEl.appendChild(killsPerGameEl);
        // scoreBoardEl.appendChild(deathsPerGameEl);
    }
    function getUpdatedPlayerFocus(){
        var xhr = new XMLHttpRequest();
        console.log(window.location.href);
        xhr.open("GET", "{{ url_for('viewChoosePlayerToFocusJson')}}", true);
        //xhr.open("GET", "{{ url_for('spillerJson', id=2474)}}", true);
        xhr.send();
        //xhr.onreadystatechange = processRequest;
        xhr.onreadystatechange = function(){
            if(xhr.readyState == 4 && xhr.status == 200){
                //console.log(xhr.responseText);
                let dataRecieved= JSON.parse(xhr.responseText);
                getPlayerJson(dataRecieved[0].id, dataRecieved[1].id);
                console.log(dataRecieved);
            }
        }
    }
    getUpdatedPlayerFocus();
    //getPlayerJson();
</script>

<style>
    #tagLogoLag1{
        /* -webkit-mask-image: url({{ url_for('static', filename='img/production/TEAM-CROP-OVERLAY-BLUE.png')}});
        -webkit-mask-size: 132px;
        -webkit-mask-repeat: no-repeat;  */
        /* background-color:red; */
        -webkit-mask-image: url({{ url_for('static', filename='img/production/Asset1.svg')}});
        -webkit-mask-size: 144px;
        -webkit-mask-repeat: no-repeat;
    }
    #tagLogoLag2{
        /* -webkit-mask-image: url({{ url_for('static', filename='img/production/TEAM-CROP-OVERLAY.png')}});
        -webkit-mask-size: 132px;
        -webkit-mask-repeat: no-repeat;  */
        /* background-color:red; */
        -webkit-mask-image: url({{ url_for('static', filename='img/production/Asset2.svg')}});
        -webkit-mask-size: 144px;
        -webkit-mask-repeat: no-repeat; 
    }
    .scoreBoardContent{
        -webkit-mask-image: url({{ url_for('static', filename='img/production/SVG/ScoreboardBlack.svg')}});
        -webkit-mask-size: 752px;
        -webkit-mask-repeat: no-repeat; 
    }
    
</style>