<link rel="stylesheet" href={{ url_for('static', filename='css/stream/ingamePlayercams.css')}}>

<div class="teamContainer" id="teamContainerDiv">
    <div class="team" id="blueTeam">
        {% for player in kameraOversikt.lag1 %}
        <div class="player bluePlayer" id="{{player.id}}">
            <iframe src="{{player.view}}" frameborder="0"></iframe>
            <div><h1>{{player.name}}</h1></div>
        </div>
        {% endfor %}
    </div>
    <div class="team" id="redTeam">
        {% for player in kameraOversikt.lag2 %}
        <div class="player redPlayer" id="{{player.id}}">
            <iframe src="{{player.view}}" frameborder="0"></iframe>
            <div><h1>{{player.name}}</h1></div>
        </div>
        {% endfor %}
    </div>
</div>
<h1 style="display: none;">{{kamp.dato}}</h1>

<img src="{{ url_for('static', filename='img/Overlays/ING_VRLY_MP42V2.svg')}}" alt="IngameOverlay" id="backgroundImage">
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.2/socket.io.js" crossorigin="anonymous"></script>
<script>
    let kameraOversiktObject = {{kameraOversikt|safe}};
    let rosterLink = "{{url_for('livecontrolSpesificScene', sceneName='playerCams')}}";
    let bluePlayerEls = document.getElementsByClassName("bluePlayer");
    let redPlayersEls = document.getElementsByClassName("redPlayer");
    const sceneName = "playerCams";
    var socket = io();
    
    const True = true;
    const False = false;
    let show = true;
    let viewedPlayerIds = 0;
    socket.on('livecontrolupdate', function(data){
        console.log("message");
        console.log(data);
        checkHideShow(data.ingame[sceneName]);
        updateVisiblePlayer(data.ingame[sceneName].data);
    });
    
    function updateVisiblePlayer(data){
        for(let i =0; i<kameraOversiktObject.lag1.length; i++){
            if(data.player1ToShow != i){
                bluePlayerEls[i].style.display = "none";
            }else{
                bluePlayerEls[i].style.display = "block";
            }
        }
        for(let i =0; i<kameraOversiktObject.lag2.length; i++){
            if(data.player2ToShow != i){
                redPlayersEls[i].style.display = "none";
            }else{
                redPlayersEls[i].style.display = "block";
            }
        }
    }

    function getLivecontrolJsonData(){
        let xml = new XMLHttpRequest();
        xml.open("GET", rosterLink, false);  
        xml.onreadystatechange = function(){
            if(xml.readyState == 4 && xml.status == 200){
                let tempDIct = JSON.parse(xml.responseText);
                console.log("GET LIVE JSON");
                console.log(tempDIct);
                checkHideShow(tempDIct);    
                updateVisiblePlayer(tempDIct.data);
            }
        }
        xml.send();
    }
    getLivecontrolJsonData();
    function checkHideShow(tempDIct){
        console.log(tempDIct);
        if(tempDIct["show"]!=show){
            if(tempDIct["show"] == true){
                contentShow();
                show = true;
                document.getElementsByTagName("iframe")[0].click();
                //getUpdatedPlayerFocus();
            }else{
                contentHide();
                show=false;
            }
        }
    }

    function contentShow(){
        console.log("Show");
        document.getElementById("teamContainerDiv").style.animationName="vis";
        // document.getElementById("scoreBoardContent").style.opacity = 1;
        // document.getElementsByClassName("scoreboard-half")[0].style.animationName = "vis";
        // document.getElementsByClassName("scoreboard-half")[1].style.animationName = "vis";

    }

    function contentHide(){
        console.log("HIDE");
        document.getElementById("teamContainerDiv").style.animationName="skjul";
        // document.getElementById("scoreBoardContent").style.opacity = 0;
        // document.getElementsByClassName("scoreboard-half")[0].style.animationName = "skjul";
        // document.getElementsByClassName("scoreboard-half")[1].style.animationName = "skjul";
    }
    getLivecontrolJsonData();
    //contentHide();



</script>