<link rel="stylesheet" href={{ url_for('static', filename='css/kampoversikt.css')}}>
<!-- <img src="static/Overlayed.png" alt="overlayed" class="OverlayImage"> -->
<div class="kamper">
    <div class="kamp">
        <div class="kamp-top-container">
            <!--LAG 1-->
            <div class="lag lag1">
                <!--BILDE-->
                <div class="lag-image-container">
                    <img src="static/laglogoer/Nordavind_logo.png" alt="logo">
                </div>
                <!--NAVN-->
                <div class="lag-navn-container">
                    <h1 id="id_lag1_navn">Nordavind</h1>
                </div> 
            </div>

            <div class="spacer">
                <h1>VS</h1>
                <h1 id="id_kl">19:00</h1>
            </div>

            <!--LAG 2-->
            <div class="lag lag2">
                <!--NAVN-->
                <div class="lag-navn-container">
                    <h1 id="id_lag1_navn">Bifrost</h1>
                </div>
                <!--BILDE-->
                <div class="lag-image-container">
                    <img src="static/laglogoer/bifrost_logo.png" alt="logo">
                </div>
            </div>
        </div>
        <div class="kamp-bot-container">
            <div class="kamp-bot-divisjon">
                <h2>1. Divisjon</h2>
            </div>
            <div class="kamp-bot-liga">
                <h2 class="kamp-liga">Telialigaen</h2>
            </div>
            <div class="kamp-bot-spill">
                <h2 class="kamp-spill">League of Legends</h2>
            </div>
        </div>
        <div class="EDITClass" >
            <button>SLETT</button>
            <button>REDIGER</button>
            <button>BYTT SIDE</button>
        </div>         
    </div>
</div>