<link rel="stylesheet" href={{ url_for('static', filename='css/stream/kampoversikt.css')}}>
<!-- <img src="static/Overlayed.png" alt="overlayed" class="OverlayImage"> -->
<div class="kamper"  id="kampContainerID" style="opacity: 0;">
    
    

    <!--AUTOKAMP INFYLLING-->
    {% for kamp in kamper %}
    
    <div class="kamp" style="display: none;">
        <div class="kamp-top-container">
            <!--LAG 1-->
            <div class="lag lag1">
                <!--BILDE-->
                <div class="lag-image-container">
                    <a href="{{ url_for('editLag', id=kamp.lag1.id) }}">
                        <img src="static/laglogoer/{{kamp.lag1.bilde}}" alt="logo">
                    </a>
                </div>
                <!--NAVN-->
                <div class="lag-navn-container">
                    <a href="{{ url_for('editLag', id=kamp.lag1.id) }}">
                        <h1 id="id_lag1_navn">{{kamp.lag1.navn}}</h1>
                    </a>
                </div> 
            </div>

            <div class="spacer">
                <h1>VS</h1>
                <h1 id="id_kl">{{kamp.tid}}</h1>
            </div>

            <!--LAG 2-->
            <div class="lag lag2">
                <!--NAVN-->
                <div class="lag-navn-container">
                    <a href="{{ url_for('editLag', id=kamp.lag2.id) }}">
                        <h1 id="id_lag1_navn">{{kamp.lag2.navn}}</h1>
                    </a>
                </div>
                <!--BILDE-->
                <div class="lag-image-container">
                    <a href="{{ url_for('editLag', id=kamp.lag2.id) }}">
                        <img src="static/laglogoer/{{kamp.lag2.bilde}}" alt="logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="kamp-bot-container">
            <div class="kamp-bot-divisjon">
                <h2>{{kamp.divisjon}}</h2>
            </div>
            <div class="kamp-bot-liga">
                <h2 class="kamp-liga">{{kamp.liga}}</h2>
            </div>
            <div class="kamp-bot-spill">
                <h2 class="kamp-spill">{{kamp.spill}}</h2>
            </div>
        </div>
        <div class="EDITClass" >
            <div>
                <h2 id="kampID">{{kamp.kampID}}</h2>
            </div>
            <div>
                <button onclick="slettKamp('{{kamp.kampID}}')">SLETT</button>
                <button onclick="rediger('{{kamp.kampID}}')">REDIGER</button>
                <button onclick="byttSide('{{kamp.kampID}}')">BYTT SIDE</button>
                
            </div>
            <div>
                <h2>{{kamp.dato}}</h2>
            </div>
            <div>
                <a href="{{ url_for('twitterMatchImage', id=kamp.kampID) }}">twitterMatchImage</a>
                <button onclick="lagTwitterBilde('{{kamp.kampID}}')">Lag Twitterbilde</button>
            </div>
        </div>         
    </div>
    
    
    {% endfor %}
    
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.2/socket.io.js" crossorigin="anonymous"></script>
<script>
    
    const sceneName = "kampoversikt";
    let rosterLink = "{{url_for('livecontrolSpesificScene', sceneName='kampoversikt')}}";
    var socket = io();    
    let True = true;
    let False = false;
    let show = false;
    socket.on('livecontrolupdate', function(data){
        console.log("message");
        console.log(data);
        checkHideShow(data.pregame[sceneName]);
    });
    function getLivecontrolJsonData(){
        let xml = new XMLHttpRequest();
        xml.open("GET", rosterLink, false);  
        xml.onreadystatechange = function(){
            if(xml.readyState == 4 && xml.status == 200){
                let tempDIct = JSON.parse(xml.responseText);
                checkHideShow(tempDIct);    
            }
        }
        xml.send();
    }
    getLivecontrolJsonData();
    function checkHideShow(tempDIct){
        if(tempDIct["show"]!=show){
            if(tempDIct["show"] == true){
                contentShow();
                show = true;
            }else{
                contentHide();
                show=false;
            }
        }
    }

    let kamperJS = {{kamper|safe}};
    //document.getElementById("kampContainerID").onload = startAnimasjoner();
    
    function contentShow(){
        console.log("DEMO");
        console.log("VIS");
        document.getElementById("kampContainerID").style.visibility = "visible";
        //document.getElementById("kampContainerID").style.display = "block";
        document.getElementById("kampContainerID").style.opacity = 1;
        let kamperEls = document.getElementsByClassName("kamp");
        for(let i=0; i<kamperEls.length; i++){
            setTimeout(function(){
                kamperEls[i].style.animationName = "vis";
                kamperEls[i].style.display = "inline-block";
            }, i*500);
        }
    }

    function contentHide(){
        console.log("SKJUL");
        let kamperEls = document.getElementsByClassName("kamp");

        for(let i=0; i<kamperEls.length; i++){
            setTimeout(function(){
                kamperEls[i].style.animationName = "skjul";
                //kamperEls[i].style.display = "inline-block";
            }, i*500);
        }
        setTimeout(function(){
            document.getElementById("kampContainerID").style.visibility = "hidden";
            //document.getElementById("kampContainerID").style.display = "none";
            document.getElementById("kampContainerID").style.opacity = 0;
        }, kamperEls.length*500);
    }

    function slettKamp(kampid){
            if(confirm("Vil du slette denne kampen?")){
                console.log("BESTEMT SEG FOR Å SLETTE");
                let xml = new XMLHttpRequest();
                xml.open("POST", "/kampeditor/delete", true);
                xml.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                xml.onreadystatechange = function(){
                    if(xml.readyState == 4 && xml.status == 200){
                        console.log("SUCCESS?")
                        console.log(xml.responseText);
                    }
                }
                let tmpObj = {"id":kampid};
                let stringified = JSON.stringify(tmpObj);
                console.log(stringified);
                xml.send(stringified);
                //lagKamp(tmpObj);
                window.location.reload(false);
            }
        }
    function lagTwitterBilde(id){
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "{{url_for('makeTwitterImage')}}", true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xhr.onreadystatechange = function(){
                    if(xml.readyState == 4 && xml.status == 200){
                        console.log("SUCCESS?")
                        console.log(xml.responseText);
                    }
                }
        let tmpObj = {"id":id};
        let stringified = JSON.stringify(tmpObj);
        xhr.send(stringified);
    }
    function rediger(kampid){
        console.log(kampid);
    }
    function byttSide(kampid){
        // let tmpObj = {};//Temp Javascript Object
        //     tmpObj["tid"] = document.getElementById("klID").value;
        //     tmpObj["dato"] = document.getElementById("datoID").value;
        //     tmpObj["kampID"] = "";
        //     tmpObj["lag1ID"] = document.getElementById("lag1").value;
        //     tmpObj["lag2ID"] = document.getElementById("lag2").value;

        //     tmpObj["divisjon"] = document.getElementById("divisjon").value;
        //     tmpObj["liga"] = document.getElementById("liga").value;
        //     tmpObj["spill"] = document.getElementById("spill").value;
        let xml = new XMLHttpRequest();
        xml.open("POST", "/kampeditor/swapside", true);
        xml.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xml.onreadystatechange = function(){
            if(xml.readyState == 4 && xml.status == 200){
                console.log("SUCCESS?")
                console.log(xml.responseText);
            }
        }
        let tmpObj = {"id":kampid};
        let stringified = JSON.stringify(tmpObj);
        console.log(stringified);
        xml.send(stringified);
        //lagKamp(tmpObj);
        window.location.reload(false);
    }
</script>