<link rel="stylesheet" href={{ url_for('static', filename='css/stream/tabell.css')}}>
<div class="tabellContainer" id="tabellContainerID">
    {% for lag in tabell %}
        <div class="lag">
            <h1>{{lag.participant.name}}</h1>
            <img src="{{lag.participant.image.url}}" alt="{{lag.participant.name}}_Bilde" width="50px" height="50px" style="right: 0px; position: absolute; display: none;">
        </div>
    {% endfor %}
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.2/socket.io.js" crossorigin="anonymous"></script>
<script>
    let rosterLink = "{{url_for('livecontrolSpesificScene', sceneName='streamTabell')}}";
    const sceneName = "streamTabell";
    var socket = io();
    
    const True = true;
    const False = false;
    let show = false;
    socket.on('livecontrolupdate', function(data){
        console.log("message");
        console.log(data);
        checkHideShow(data.pregame[sceneName]);
    });
    function getLivecontrolJsonData(){
        let xml = new XMLHttpRequest();
        xml.open("GET", rosterLink, false);  
        xml.onreadystatechange = function(){
            if(xml.readyState == 4 && xml.status == 200){
                let tempDIct = JSON.parse(xml.responseText);
                checkHideShow(tempDIct);    
            }
        }
        xml.send();
    }
    getLivecontrolJsonData();
    function checkHideShow(tempDIct){
        if(tempDIct["show"]!=show){
            if(tempDIct["show"] == true){
                contentShow();
                show = true;
            }else{
                contentHide();
                show=false;
            }
        }
    }
















    // setInterval(function(){
    //     let xml = new XMLHttpRequest();
    //     xml.open("GET", rosterLink, false);  
    //     xml.onreadystatechange = function(){
    //         if(xml.readyState == 4 && xml.status == 200){
    //             let tempDIct = JSON.parse(xml.responseText);
    //             console.log(tempDIct);
    //             if(tempDIct["show"]!=show){
    //                 if(tempDIct["show"] == true){
    //                     startAnimasjoner();
    //                     show = true;
    //                 }else{
    //                     skjulAlle();
    //                     show=false;
    //                 }
    //             }
    //         }
    //     }
    //     xml.send();     
    // }, 1000);   

    //document.getElementById("tabellContainerID").onload = startAnimasjoner();
    function contentShow(){
        //console.log("DEMO");
        console.log("VIS");
        let lagEls = document.getElementsByClassName("lag");
        for(let i=0; i<lagEls.length; i++){
            setTimeout(function(){
                lagEls[i].style.animationName = "vis";
                lagEls[i].style.display = "block";
            }, i*300);
        }
    }
    function contentHide(){
        //console.log("DEMO");
        console.log("Skjul");
        let lagEls = document.getElementsByClassName("lag");
        for(let i=0; i<lagEls.length; i++){
            setTimeout(function(){
                lagEls[i].style.animationName = "skjul";
                //lagEls[i].style.display = "block";
            }, i*300);
        }
    }
</script>