<link rel="stylesheet" href={{ url_for('static', filename='css/lageditor.css')}}>
<style>
    body{
        color:white;
    }
</style>
<div class="casterContainer">
    {% for caster in casters %}
    {% set outer_loop = loop %}
        <div class="caster">
            <div><h1 id="{{caster.casterNavn}}" contenteditable="true">{{caster.casterNavn}}</h1></div>
            {% set spiller = caster.spiller %}
            <div class="spiller" id="Spiller{{loop.index}}ID">
                        
                <div>Spiller:<H1 value="{{spiller.navn}}" id="Spiller{{loop.index}}NameID" contenteditable="true" class="intypingField" onclick="makeCurrentPlayerSelected('Spiller{{loop.index}}')" onkeyup="matchString('Spiller{{loop.index}}')">{{spiller.navn}}</H1></div>
                
                <div>SpillerID:<H1 contenteditable="true" class="intypingField">{{spiller.id}}</H1></div>
                <div>Bilde:<H1 contenteditable="true" class="intypingField">{{spiller.bilde}}</H1></div>
                <div>Ingame navn:<H1 contenteditable="true" class="intypingField">{{spiller.ingame}}</H1></div>
                <div class="playerSelectDiv" id="Spiller{{loop.index}}PSD" style="visibility: hidden;"> 
                    {% for player in alleSpillere %}
                        <div class="playerDiv" value="{{player.id}}" onclick="addPlayerToSelect('Spiller{{outer_loop.index}}','{{player.id}}','{{player.navn}}','{{player.gamernoBilde}}', '{{player.lolIngame}}' )">
                            <p>{{player.navn}}</p>
                            <h2 style="display:none;">{{player.id}}</h2>
                            <h2 style="display:none;">{{player.lolIngame}}</h2>
                        </div>
                    {% endfor %}
                </div> 
                <div style="display: none;">Spill:<H1 contenteditable="true" class="intypingField">{{spiller.spill}}</H1></div>
            </div>
        </div>
    {% endfor %}
</div>



<div id="spillereContainer" style="margin-top: 20px; color: aliceblue;">
    {% for spiller in spillerToFocus %}
    {% set outer_loop = loop %}

        
    {% endfor %}
</div>
<div>
    <button onclick="updatePlayerToFocus()"><h1>UPDATE</h1></button>
</div>


<script>
    let spillerToFocusObject = {{casters|safe}};
    let selectedEl;
        let selectedNameIDEl;
        let h1PreviousValue;
        document.addEventListener("click", function(event){
            if(selectedEl!= null){
                if(selectedEl.contains(event.target) ||selectedNameIDEl.contains(event.target)){
                    console.log("has Target");
                }else{
                    selectedEl.style.visibility = "hidden";

                    console.log(selectedNameIDEl);
                    selectedNameIDEl.innerHTML = h1PreviousValue;
                    selectedEl = null;
                    selectedNameIDEl = null;
                    h1PreviousValue = null;

                    
                    console.log("Out of Target");
                }
            }else{
                console.log("selected =  NULL");
            }
            
        });
        function makeCurrentPlayerSelected(spillerIDNumber){

            let plrSlctDivEls = document.getElementsByClassName("playerSelectDiv");
            for(let i =0; i<plrSlctDivEls.length; i++){
                plrSlctDivEls[i].style.visibility = "hidden";
            }
            document.getElementById(spillerIDNumber+"PSD").style.visibility = "visible";
            selectedEl = document.getElementById(spillerIDNumber+"PSD");
            selectedNameIDEl = document.getElementById(spillerIDNumber+"NameID");
            // selectedNameIDEl.focus();
            // selectedNameIDEl.select();
            h1PreviousValue = selectedNameIDEl.innerHTML;
        }

        function matchString(spillerId){
            let searchString = document.getElementById(spillerId+"NameID").innerHTML.toLowerCase();
            const regex = new RegExp("^"+searchString+'[a-zA-Z0-9\\s]*$','i');
            console.log(regex);
            let psdEls = document.getElementById(spillerId+"PSD").children;
            for(let i = 0; i<psdEls.length; i++){
                let cmprValue1 = psdEls[i].children[0].innerHTML;
                let cmprValue2 = psdEls[i].children[1].innerHTML;
                let cmprValue3 = psdEls[i].children[2].innerHTML;

                let rgx1 = regex.test(cmprValue1);
                let rgx2 = regex.test(cmprValue2);
                let rgx3 = regex.test(cmprValue3);
                
                //console.log(regex, rgx1, cmprValue1, rgx2, cmprValue2 ,rgx3, cmprValue3);
                if(rgx1 || rgx2 || rgx3){
                    psdEls[i].style.display = "";
                }else{
                    psdEls[i].style.display ="none";
                }
            }

        }
        function updatePlayerToFocus(){
            //spillerToFocusObject
            let xml = new XMLHttpRequest();
            let updatePlayerToFocusLink = "{{url_for('updatePlayerOfTheGameControl')}}";
            xml.open("POST", updatePlayerToFocusLink, true);
            xml.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            xml.onreadystatechange = function(){
                if(xml.readyState == 4 && xml.status == 200){
                    console.log(xml.responseText);
                }
            }
            let stringified = JSON.stringify(spillerToFocusObject);
            console.log("SENDING REQUEST");
            xml.send(stringified);
        }
        function addPlayerToSelect(selectLoopID, playerID, playerName, playergamernoImageLink, lolIngame){
            let spiller;
            
            if(selectLoopID =="Spiller1"){
                spiller = spillerToFocusObject[0].spiller;
            }else if(selectLoopID =="Spiller2"){
                spiller = spillerToFocusObject[1].spiller;
            }else{
                spiller = spillerToFocusObject[2].spiller;
            }
            
            let spillerDivEl = document.getElementById(selectLoopID+"ID");
            let splEls = spillerDivEl.children;
            console.log(spillerDivEl);
            console.log(splEls[0].children);
            
            splEls[0].children[0].innerHTML = playerName;
            splEls[1].children[0].innerHTML = playerID;
            splEls[2].children[0].innerHTML = playergamernoImageLink;
            splEls[3].children[0].innerHTML = lolIngame;
            spiller.navn  = playerName;
            spiller.id = playerID;
            spiller.ingame = lolIngame;
            spiller.bilde = playergamernoImageLink;
            h1PreviousValue = playerName;
            console.log(spiller);
            
        }
        function searchSelect(textInputID){
            let searchTextEl = document.getElementById(textInputID+"ID");
            let searchedTextLowercase = searchTextEl.value.toLowerCase();
            let selectEl = document.getElementById(textInputID+"SelectID");
            let optionsArrayEls = selectEl.options;
            console.log(textInputID);

            if(document.getElementById(textInputID+"ID").value == ""){
                    optionsArrayEls[0].selected = true;
                    return ;
                }
            for(let i =0; i<optionsArrayEls.length; i++){
                if(optionsArrayEls[i].value.indexOf(searchedTextLowercase)==0){
                    optionsArrayEls[i].selected = true;
                }

                
            }

        }
        let spillcontainerEL = document.getElementById("spillereContainer");
        function leggTilNySpiller(){
            let spillerDiv = document.createElement("div");
            spillerDiv.innerHTML = '<div>Gamer tag:<H1 contenteditable="true" class="intypingField"></H1></div><div>Rolle:<H1 contenteditable="true" class="intypingField"></H1></div><div>Spill:<H1 contenteditable="true" class="intypingField"></H1></div>';
            spillerDiv.className = "spiller";
            spillcontainerEL.appendChild(spillerDiv);
            console.log(spillerDiv);
        }


        function lagreLag(){
            let tempObject = {};
            tempObject["navn"] = document.getElementById("navnID").innerHTML;
            tempObject["kallenavn"] = document.getElementById("kallenavnID").innerHTML;
            tempObject["spill"] = document.getElementById("spillID").innerHTML;
            tempObject["tag"] = document.getElementById("tagID").innerHTML;
            tempObject["bilde"] = document.getElementById("bildeID").innerHTML;
            tempObject["id"] = document.getElementById("idID").innerHTML;
            tempObject["gamernoID"] = document.getElementById("gamernoID").innerHTML;
            
            
            let spillerArray = [];
            let spillereELs = document.getElementsByClassName("spiller");

            for(let i =0; i<spillereELs.length; i++){
                let tempPlayerObject =  {};
                let sELs = spillereELs[i].children;
                tempPlayerObject["navn"] = sELs[0].children[0].innerHTML;
                tempPlayerObject["id"] = sELs[1].children[0].innerHTML;
                tempPlayerObject["rolle"] = sELs[2].children[0].innerHTML;
                tempPlayerObject["spillerBilde"] = sELs[3].children[0].innerHTML;
                tempPlayerObject["ingameNavn"] = sELs[4].children[0].innerHTML;
                spillerArray.push(tempPlayerObject);
            }
            tempObject["spillere"] = spillerArray;
            console.log(tempObject);

            let xml = new XMLHttpRequest();
            xml.open("POST", "/lag/"+tempObject.id+"/save", true);
            xml.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            xml.onreadystatechange = function(){
                if(xml.readyState == 4 && xml.status == 200){
                    console.log(xml.responseText);
                }
            }
            let stringified = JSON.stringify(tempObject);
            
            xml.send(stringified);
        }
</script>