<div class="teamContainer" id="teamContainerDiv">
    <div class="team" id="blueTeam">
        {% for player in kameraOversikt.lag1 %}
        <div class="player bluePlayer" id="{{player.id}}">
            <div><h1>{{player.name}}</h1></div>
            <a href="{{player.view}}" frameborder="0"><h1>Spiller BLUE </h1></a>
            <a href="{{player.push}}" frameborder="0"><h1>Spiller INN </h1></a>
            
        </div>
        {% endfor %}
        <div>
            {% for player in kameraOversikt.lag1 %}
            <h3>{{player.push}}</h3>
            {% endfor %}  
        </div>
    </div>
    <br>
    <div class="team" id="redTeam">
        {% for player in kameraOversikt.lag2 %}
        <div class="player redPlayer" id="{{player.id}}">
            <div><h1>{{player.name}}</h1></div>
            <a href="{{player.view}}" frameborder="0"><h1>Spiller RED</h1></a>
            <a href="{{player.push}}" frameborder="0"><h1>Spiller INN </h1></a>
            
        </div>
        {% endfor %}
        <div>
            {% for player in kameraOversikt.lag2 %}
            <h3>{{player.push}}</h3>
            {% endfor %}  
        </div>
    </div>
</div>
<script>
    let kameraOversiktObject = {{kameraOversikt|safe}};
    let rosterLink = "{{url_for('livecontrolSpesificScene', sceneName='playerCams')}}";
    let bluePlayerEls = document.getElementsByClassName("bluePlayer");
    let redPlayersEls = document.getElementsByClassName("redPlayer");
    
</script>

<style>
    body{
        background-color: rgb(0 0 0);
        color: white;
    }
    .team{
        display: flex;

    }
    .player{
        border:1px solid white;
        padding: 5px;
    }

</style>