<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8"/>
  <link rel="stylesheet" href={{ url_for('static', filename='css/base.css')}}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/header.css')}}>
  <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico')}}>
  <script src={{ url_for('static', filename='js/copyMe.js')}} ></script>
	<title>Home Page</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap" rel="stylesheet">
<style>
  .backgroundImage{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
  }
</style>
</head>
<body>
  {% include "_topnav.html" %}
  {% block content %}
  
  {% endblock %}
  <script>

  </script>
  <img src="{{url_for('static', filename='img/website/background.png')}}" alt="bakgrunn" class="backgroundImage">
</body>
</html>
