<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8"/>
	<link rel="stylesheet" href={{ url_for('static', filename='index.css')}}>
	<link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico')}}>
	<title>Thinked</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap" rel="stylesheet">
<style>
</style>
</head>
<body>
	<div class="main-app">

		<div id="SKRIVING" style="position: absolute;"></div>
		<div class="team" id="myTeam">
			<div class="player" id="0">
				<div class="champion">
					<img src="/static/nonePick.png" id="championImage" ></img>
					<div class="summonerSpells" style="visibility: hidden;">
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerFlash.png" id="summonerSpell1" class="summonerSpell"></img>
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerDot.png" id="summonerSpell2" class="summonerSpell"></img>
					</div>
				</div>
				<div class="SummonerName">
					<h2 ></h2>
				</div>
				<div class="noneHover"id="hover">
					<h2>Picking</h2>
				</div>
			</div>
			<div class="player" id="1">
				<div class="champion">
					<img src="/static/nonePick.png" id="championImage" ></img>
					<div class="summonerSpells" style="visibility: hidden;">
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerFlash.png" id="summonerSpell1" class="summonerSpell"></img>
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerDot.png" id="summonerSpell2" class="summonerSpell"></img>
					</div>
				</div>
				<div class="SummonerName">
					<h2 ></h2>
				</div>
				<div class="noneHover"id="hover">
					<h2>Picking</h2>
				</div>
			</div>
			<div class="player" id="2">
				<div class="champion">
					<img src="/static/nonePick.png" id="championImage" ></img>
					<div class="summonerSpells" style="visibility: hidden;">
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerFlash.png" id="summonerSpell1" class="summonerSpell"></img>
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerDot.png" id="summonerSpell2" class="summonerSpell"></img>
					</div>
				</div>
				<div class="SummonerName">
					<h2 ></h2>
				</div>
				<div class="noneHover"id="hover">
					<h2>Picking</h2>

				</div>
			</div>
			<div class="player" id="3" style="margin-top: 43px;">
				<div class="champion">
					<img src="/static/nonePick.png" id="championImage" ></img>
					<div class="summonerSpells" style="visibility: hidden;">
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerFlash.png" id="summonerSpell1" class="summonerSpell"></img>
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerDot.png" id="summonerSpell2" class="summonerSpell"></img>
					</div>
				</div>
				<div class="SummonerName">
					<h2 ></h2>
				</div>
				<div class="noneHover"id="hover">
					<h2>Picking</h2>
				</div>
			</div>
			<div class="player" id="4">
				<div class="champion">
					<img src="/static/nonePick.png" id="championImage" ></img>
					<div class="summonerSpells" style="visibility: hidden;">
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerFlash.png" id="summonerSpell1" class="summonerSpell"></img>
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerDot.png" id="summonerSpell2" class="summonerSpell"></img>
					</div>
				</div>
				<div class="SummonerName">
					<h2 ></h2>
				</div>
				<div class="noneHover"id="hover">
					<h2>Picking</h2>
				</div>
			</div>
		</div>
		<div class="team" id="theirTeam">
			<div class="player" id="5">
				<div class="champion">
					<img src="/static/nonePick2.png" id="championImage" ></img>
					<div class="summonerSpellsR" style="visibility: hidden;">
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerFlash.png" id="summonerSpell1" class="summonerSpellR"></img>
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerDot.png" id="summonerSpell2" class="summonerSpellR"></img>
					</div>
				</div>
				<div class="SummonerName" id="sumNameR">
					<h2 ></h2>
				</div>
				<div class="noneHover"id="hover">
					<h2>Picking</h2>
				</div>
			</div>
			<div class="player" id="6">
				<div class="champion">
					<img src="/static/nonePick2.png" id="championImage" ></img>
					<div class="summonerSpellsR" style="visibility: hidden;">
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerFlash.png" id="summonerSpell1" class="summonerSpellR"></img>
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerDot.png" id="summonerSpell2" class="summonerSpellR"></img>
					</div>
				</div>
				<div class="SummonerName"id="sumNameR">
					<h2 ></h2>
				</div>
				<div class="noneHover"id="hover">
					<h2>Picking</h2>
				</div>
			</div>
			<div class="player" id="7">
				<div class="champion">
					<img src="/static/nonePick2.png" id="championImage" ></img>
					<div class="summonerSpellsR" style="visibility: hidden;">
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerFlash.png" id="summonerSpell1" class="summonerSpellR"></img>
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerDot.png" id="summonerSpell2" class="summonerSpellR"></img>
					</div>
				</div>
				<div class="SummonerName"id="sumNameR">
					<h2 ></h2>
				</div>
				<div class="noneHover"id="hover">
					<h2>Picking</h2>
				</div>
			</div>
			<div class="player" id="8"style="margin-top: 43px;">
				<div class="champion">
					<img src="/static/nonePick2.png" id="championImage" ></img>
					<div class="summonerSpellsR" style="visibility: hidden;">
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerFlash.png" id="summonerSpell1" class="summonerSpellR"></img>
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerDot.png" id="summonerSpell2" class="summonerSpellR"></img>
					</div>
				</div>
				<div class="SummonerName"id="sumNameR">
					<h2 ></h2>
				</div>
				<div class="noneHover"id="hover">
					<h2>Picking</h2>
				</div>
			</div>
			<div class="player" id="9">
				<div class="champion">
					<img src="/static/nonePick2.png" id="championImage" ></img>
					<div class="summonerSpellsR" style="visibility: hidden;">
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerFlash.png" id="summonerSpell1" class="summonerSpellR"></img>
						<img src="https://ddragon.leagueoflegends.com/cdn/9.3.1/img/spell/SummonerDot.png" id="summonerSpell2" class="summonerSpellR"></img>
					</div>
				</div>
				<div class="SummonerName"id="sumNameR">
					<h2 ></h2>
				</div>
				<div class="noneHover" id="hover">
					<h2>Picking</h2>
				</div>
			</div>

		</div>
		<div class="banClass" id="banClass">
			<div class="teamBans" id="blueTeamBans">
				<div class="ban" id="ban1"><img src={{ url_for('static', filename='tall/1.png')}} id="banImage"><div class="Bantext"></div></img></div>
				<div class="ban" id="ban2"><img src={{ url_for('static', filename='tall/2.png')}} id="banImage"><div class="Bantext"></div></img></div>
				<div class="ban" id="ban3"><img src={{ url_for('static', filename='tall/3.png')}} id="banImage"><div class="Bantext"></div></img></div>
				<div class="ban" id="ban4"style="padding-left:46px;"><img src={{ url_for('static', filename='tall/4.png')}} id="banImage"><div class="Bantext"></div></img></div>
				<div class="ban" id="ban5"><img src={{ url_for('static', filename='tall/5.png')}} id="banImage"><div class="Bantext"></div></img></div>
			</div>
			<div class="teamBans" id="redTeamBans">
				<div class="ban" id="ban5"><img src={{ url_for('static', filename='tall/R5.png')}} id="banImageR"><div class="Bantext"></div></img></div>
				<div class="ban" id="ban4" style="padding-right:46px;"><img src={{ url_for('static', filename='tall/R4.png')}} id="banImageR"><div class="Bantext"></div></img></div>
				<div class="ban" id="ban3"><img src={{ url_for('static', filename='tall/R3.png')}} id="banImageR"><div class="Bantext"></div></img></div>
				<div class="ban" id="ban2"><img src={{ url_for('static', filename='tall/R2.png')}} id="banImageR"><div class="Bantext"></div></img></div>
				<div class="ban" id="ban1"><img src={{ url_for('static', filename='tall/R1.png')}} id="banImageR"><div class="Bantext"></div></img></div>
			</div>
		</div>
		<div class="timer">
			<div id="timerBlue">
				<h2 class="timerText">0</h2>
				<img src="static/timer/Blue.png"></img>

			</div>
			<div id="timerRed">
				<h2 class="timerText">0</h2>
				<img src="static/timer/Red.png"></img>

			</div>
		</div>

		<div id="phase" class="phase">
			<h1>BANNING</h1>
		</div>
	</div>

	<div class="Overlays" id="onKey">
		<!--<img src={{ url_for('static', filename='TelenorLigaen_pos.png')}} class="Overlays" id="LeagueTag" style="visibility:hidden;"></img>-->
	</div>
	<div class="Background-image-container">
		<!--<img src={{ url_for('static', filename='Transparent.png')}} class="Background-image" id="botCS"style="visibility:hidden;"></img>-->

	</div>
							<!--	<div class="borderImage" style="background-image: url(//opgg-static.akamaized.net/images/borders2/diamond.png);"></div>
							<img src="http://opgg-static.akamaized.net/images/profile_icons/profileIcon3041.jpg" class="ProfileImage"> -->







</div>
<script>
	let settings = {{settings|safe}};
</script>
<script src={{ url_for('static', filename='indexOld.js')}} ></script>
<script>




</script>
</body>
</html>
