{% extends "base.html" %}
{% block content %}
  <div class="content">
    <div class="content-top">
      <h1>Home page</h1>
      <h3>This page contains an overview to the championselect-program</h3>
      <a href="{{ url_for('home') }}">Home</a>
      <h2>Links:</h2>
    </div>
    <div class="content-container">
      <div class="forStreamContainer">
        <a href="{{ url_for('champselect') }}" >
          <div class="linkGroupContainerDiv">

          
            <h2>Championselect - Standard</h2>
            <a href="{{ url_for('champselect') }}">Championselect</a>
            <button onclick="copyMe('champselect')" value="{{ url_for('champselect') }}" id="champselect">Click to Copy link!</button>
            </div>
        </a>
        <div class="linkGroupContainerDiv">
          <h2>Lobby</h2>
          <a href="{{ url_for('lobby') }}">Lobby</a>
          <button onclick="copyMe('lobby')" value="{{ url_for('lobby') }}" id="lobby">Click to Copy link!</button>
        </div>
				<div class="linkGroupContainerDiv">
					<h2>Standings</h2>
					<a href="{{ url_for('statisticsStandings') }}">Standings</a>
					<button onclick="copyMe('standings')" value="{{ url_for('lobby') }}" id="standings">Click to Copy link!</button>
				</div>
      </div>

      <div class="caster-content">

      </div>
      <div class="producer-content">

      </div>
    </div>
  </div>
{% endblock content %}