{% extends "base.html" %}
{% block content %}
<style>
    .iframContainer{
        "display: flex;"
    }
    .iframeDemo{
        width: 640px;
        height: 480px;
    }
</style>
<div class="iframContainer">
    <iframe src="https://obs.ninja/?view=pvHkUuA&scene&room=Thinked&password=Thinked" frameborder="0" class="iframeDemo"></iframe>
    <iframe src="https://obs.ninja/?view=ZpeXB5M&scene&room=Thinked&password=Thinked" frameborder="0" class="iframeDemo"></iframe>
    <iframe src="https://obs.ninja/?view=5gqevyv&scene&room=Thinked&password=Thinked" frameborder="0" class="iframeDemo"></iframe>
</div>




{% endblock content %}