<link rel="stylesheet" href={{ url_for('static', filename='css/production/twitterMatchImage.css')}}>
<img src={{ url_for('static', filename='img/production/AIM-MATCHGFX-TES21.png')}} alt="IngameOverlay" id="backgroundImage">

<div class="twitterOverlayContainer">
    <div class="generalLogos">

    </div>
    <div class="teams" >
        <div class="team" id="team1">   
            <img src={{ url_for('static', filename='img/laglogoer/kamp.lag1.bilde')}} alt="teamLogo">
            <h1></h1>

        </div>
    </div>
</div>