body{
    margin: 0px;
}

.team{
    display: flex;
    width: 1920px;
    flex-wrap: wrap;
}

.player{
    width: 480px;
    height: 270px;
}
.player iframe{
    width: 480px;
    height: 270px;
}
/* 480
270 */