{% extends "base.html" %}
{% block content %}
<script>
    let True = true;
    let False = false;
    let liveControlInfo = {{livecontrol|safe}};
    let getLivecontrolJsonLink = "{{url_for('getLivecontrolJson')}}";
    let updateLiveControlLink = "{{url_for('updateLiveControl')}}";
    // if(typeof(updateLiveControlLink) !== "undefined"){
    //     let updateLiveControlLink = "{{url_for('updateLiveControl')}}";
    // }
    // if(typeof(getLivecontrolJsonLink) !== "undefined"){
    //     let getLivecontrolJsonLink = "{{url_for('getLivecontrolJson')}}";
    // }
</script>
<link rel="stylesheet" href={{ url_for('static', filename='css/interface/casterDashboard.css')}}>
    <div class="currentKamp">
        <h1>Nåværende kamp</h1>
        <h3>LAG</h3>
        <div class="currentKamp-content">
            <div class="lagInfo">
                <div class="lag" id="blueTeamContainer">
                    <input type="number" id="lag1Score" value={{kamp.lag1.score}}></input>
                    <h2 contenteditable="True" id="lag1Navn">{{kamp.lag1.navn}}</h2>
                    <h2 contenteditable="True" id="lag1TagId">{{kamp.lag1.tag}}</h2>
                    <h2 contenteditable="True" id="lag1BildeId">{{kamp.lag1.bilde}}</h2>
                    <!-- <input type="text" id="lag1TagId" value="{{kamp.lag1.tag}}"> -->
                    Velg lag: 
                    <select name="" id="lag1SelectId" value="{{kamp.lag1ID}}" >
                        {% for lags in alleLag %}
                        <option value="{{lags.id}}" {% if lags.id == kamp.lag1ID %} selected {% endif %}>{{lags.navn}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="lag" id="redTeamContainer">
                    <input type="number" id="lag2Score" value={{kamp.lag2.score}}></input>
                    <h2 contenteditable="True" id="lag1Navn">{{kamp.lag2.navn}}</h2>
                    <h2 contenteditable="True" id="lag2TagId">{{kamp.lag2.tag}}</h2>
                    <h2 contenteditable="True" id="lag2BildeId">{{kamp.lag2.bilde}}</h2>
                    <!-- <input type="text" id="lag2TagId" value="{{kamp.lag2.tag}}"> -->
                    Velg lag: 
                    <select name="" id="lag1SelectId" >
                        {% for lags in alleLag %}
                        <option value="{{lags.id}}" {% if lags.id == kamp.lag2ID %} selected {% endif %}>{{lags.navn}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% if kamp.allowedCameras %}
            <h3>KAMERA Instillinger</h3>
            <div class="cameraSettings">
                <div class="spillerKameraContainer" id="spillerKamerateam1">
                    {% for players in kamp.lag1.spillere %}
                    {% if loop.index < 6 %}
                    {% if kamp.allowedCameras.team1[loop.index-1]==1 %}
                    <div class="spillerCameraToggle show" onclick="toggleCam('team1',{{loop.index-1}})">
                        <h2 contenteditable="True">{{players.navn}}</h2>
                        <h3>ON</h3>
                    </div>
                    {% else%}
                    <div class="spillerCameraToggle hide" onclick="toggleCam('team1',{{loop.index-1}})">
                        <h2 contenteditable="True">{{players.navn}}</h2>
                        <h3>OFF</h3>
                    </div>
                    {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
                <div class="spillerKameraContainer" id="spillerKamerateam2">
                    {% for players in kamp.lag2.spillere %}
                    {% if loop.index < 6 %}
                    {% if kamp.allowedCameras.team2[loop.index-1]==1 %}
                    <div class="spillerCameraToggle show" onclick="toggleCam('team2',{{loop.index-1}})">
                        <h2 contenteditable="True">{{players.navn}}</h2>
                        <h3>ON</h3>
                    </div>
                    {% else%}
                    <div class="spillerCameraToggle hide" onclick="toggleCam('team2',{{loop.index-1}})">
                        <h2 contenteditable="True">{{players.navn}}</h2>
                        <h3>OFF</h3>
                    </div>
                    {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            {% endif %}

            <h3>GENERELL INFO</h3>
            <div class="kampInfo">
                <div class="ligaInfo">
                    <h2 contenteditable="True" id="kampDivisjonId">{{kamp.divisjon}}</h2>
                    <h2 contenteditable="True" id="kampLigaId">{{kamp.liga}}</h2>
                    <h2 contenteditable="True" id="kampSpillId">{{kamp.spill}}</h2>
                </div>
                <div class="tidsInfo">
                    <input type="time" id="klSlettId" value="{{kamp.tid}}">
                    <input type="date" id="datoId" value="{{kamp.dato}}">
                </div>
            </div>

            

            <div class="knapper">
                <button onclick="rediger()">Rediger/lagre</button>
                <button onclick="nykampFraListe()"><h3 style="color: rgb(96, 245, 128);">Ny kamp fra liste</h3></button>
                <button onclick="byttSide()">Bytt side</button>
                
            </div>
            
        </div>
        <!-- <h1>Ny eller Bytt Nåværende kamp</h1> -->
        {% include "production/_modulelivecontrol.html" %}
        <div class="currentKamp-newNext">

        </div>
    </div>

<script>
    
    
    let kampData = {{kamp|safe}};
    let cameraOverviewLink = "{{url_for('playerCamOverviewJson') }}";
    console.log(kampData);
    function toggleCam(teamIdentifier, playerId){
        let teamCameras = document.getElementById("spillerKamera"+teamIdentifier);
        let kampDataTeam = kampData.allowedCameras[teamIdentifier];
        //console.log(kampDataTeam);
        let selectedPlayerCam = teamCameras.children[playerId];
        if(kampDataTeam[playerId] == 0){
            kampDataTeam[playerId] = 1;
            selectedPlayerCam.children[1].innerHTML = "ON";
            selectedPlayerCam.classList.add("show");
            selectedPlayerCam.classList.remove("hide");
        }else{
            kampDataTeam[playerId] = 0;
            selectedPlayerCam.children[1].innerHTML = "OFF";
            selectedPlayerCam.classList.add("hide");
            selectedPlayerCam.classList.remove("show");
        }
    }

    function rediger(){
        kampData.lag1.score = Number(document.getElementById("lag1Score").value);
        kampData.lag2.score = Number(document.getElementById("lag2Score").value);
        kampData.divisjon = document.getElementById("kampDivisjonId").innerHTML;
        kampData.liga = document.getElementById("kampLigaId").innerHTML;
        kampData.spill = document.getElementById("kampSpillId").innerHTML;
        
        let xml = new XMLHttpRequest();
        xml.open("POST", "/currentKamp/update", true);
        xml.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xml.onreadystatechange = function(){
            if(xml.readyState == 4 && xml.status == 200){
                console.log(xml.responseText);
            }
        }
        let stringified = JSON.stringify(kampData);
        xml.send(stringified);
        console.log(stringified);
        window.location.reload(false);

    }

    function updateByttSide(dataSet){
        let xhr2 = new XMLHttpRequest();
                xhr2.open("POST", cameraOverviewLink+"/update", true)
                xhr2.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                xhr2.onreadystatechange = function(){
                    if(xhr2.readyState == 4 && xhr2.status == 200){
                        console.log(xhr2.responseText);
                    }
                }
                xhr2.send(JSON.stringify(dataSet));
    }

    function byttSide(){
        let xhr = new XMLHttpRequest();
        xhr.open("GET", cameraOverviewLink, true)
        xhr.onreadystatechange = function(){
            if(xhr.readyState == 4 && xhr.status == 200){
                let jsonInputData = JSON.parse(xhr.responseText);
                console.log("TESTATATAT");
                console.log(jsonInputData);

                let lag1OLD = jsonInputData.lag1;
                let lag2OLD = jsonInputData.lag2; 

                let dataSet = {
                    "lag1":lag2OLD,
                    "lag2":lag1OLD
                }
                updateByttSide(dataSet);

            }
        }
        
        xhr.send();


        let templag2ID = kampData.lag2ID.slice();
        let templag2Info = Object.assign({}, kampData.lag2);
        
        kampData.lag2ID = kampData.lag1ID;
        kampData.lag2 = kampData.lag1;
        

        
        kampData.lag1ID = templag2ID;
        kampData.lag1 = templag2Info;

        let kameraOnOffDataTeam1 = kampData.allowedCameras.team1;
        let kameraOnOffDataTeam2 = kampData.allowedCameras.team2;

        let tempDataSet ={
            "team1":kameraOnOffDataTeam2,
            "team2":kameraOnOffDataTeam1,
        };
        kampData.allowedCameras = tempDataSet;
        console.log(kampData);
        
        let xml = new XMLHttpRequest();
        xml.open("POST", "/currentKamp/update", true);
        xml.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xml.onreadystatechange = function(){
            if(xml.readyState == 4 && xml.status == 200){
                console.log(xml.responseText);
            }
        }
        let stringified = JSON.stringify(kampData);
        xml.send(stringified);
        console.log(stringified);
        //lagKamp(tmpObj);
        window.location.reload(false);


    }

    function nykampFraListe(){
        let infoDict={
            "id":""
        };
        //Hent en kampID fra en meny
        let xml = new XMLHttpRequest();
        xml.open("POST", "/currentKamp/newFromID", true);
        xml.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xml.onreadystatechange = function(){
            if(xml.readyState == 4 && xml.status == 200){
                console.log(xml.responseText);
                window.location.reload(false);
            }
        }
        let stringified = JSON.stringify(infoDict);
        xml.send(stringified);
        console.log(stringified);
        //lagKamp(tmpObj);
        
    }


</script>
{% endblock content %}