body{
    font-family:'Roboto thin',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    /* background-color: black; */
}
.rosters{
    display: flex;
    margin: auto;
    width: 700px;
}
.roster{
    width: 300px;
    /* border: 1px solid; */
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
}

.roster-header{
    position: relative;
    display: flex;
    animation: vis 1s;
}
.roster-header img{
    height: 100px;
    width: 100px;
    margin-right: 50px;
}
.roster-header h1{
    font-size: 2.4em;
}

#lag2Roster{
    float:right;
    direction: rtl;
}
#lag2DIV{
    right: 0px;
    animation: visMotsatt 1s;
}
#lag2DIV img{
    margin-right: 0px;
    margin-left: 50px;
}
#lag2DIV h2{

}
.spiller{
    /* background-color: #0000008f; */
    position: relative;
    /* visibility: hidden; */
    /* animation: vis 1s; */
    animation-duration: 1s;
}
.spiller h2{
    font-size: 1.9em;
}



@keyframes vis{
    
    0%   {opacity: 0; left: -500px; display: none;}
    25%  { display: block;}
    50% {opacity: 1; left: 100px; display: block;}
    100% { display: block; left: 0px;}
}
@keyframes visMotsatt{
    
    0%   {opacity: 0; right: -500px; display: none;}
    25%  { display: block;}
    50% {opacity: 1; right: 100px; display: block;}
    100% { display: block; right: 0px;}
}