body{
    text-align: center;
    font-family: 'Roboto thin', sans-serif;
    margin: 0px;
}

.tabellContainer{
    width: 600px;
    margin: auto;
    margin-top: 200px;

}
.lag{
    display: none;
    animation-duration: 0.7s;
    position: relative;
    animation-fill-mode: forwards;
}

.lag h2{
    /* flex-grow: 1; */
}
.lag h1{
    flex-grow: 2;
}
@keyframes vis{
    
    0%   {opacity: 0; left: -500px; display: none;}
    25%  { display: block;}
    50% {opacity: 1; left: 100px; display: block;}
    100% { display: flex; left: 0px;}
}

@keyframes skjul{
    
    0% { display: flex; left: 0px;}
    25% {opacity: 1; left: 100px; display: block;}
    50%  { display: block;}
    100%   {opacity: 0; left: -500px; display: none;}
}